@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300;400&family=Prompt&family=Signika&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #87888a;
    background-color: #fff;
}

.sidebar header {
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 174, 0);
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logoMC {
    width: 50px;
}

.sidebar button {
    display: flex;
    justify-content: start;
    width: 250px;
    height: 50px;
    padding: 15px;
    align-items: center;
    gap: 15px;
    border: none;
    background: transparent;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: rgba(255, 174, 0, 0.863);
}

.sidebar a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
}

main  h1 {
    margin-left: 330px;
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: rgba(255, 174, 0, 0.863);
}

.container_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 310px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards {
    background-color: #fff;
    text-align: center;
    border-radius: 10%;
    width: 370px;
    height: 425px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cards img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.cards h2 {
    font-size: 16px;
    font-weight: bold;
}

.cards p {
    width: 340px;
    font-size: 10px;
    font-weight: bold;
    color: #87888a;
}

.cards h4 {
    width: 350px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(255, 174, 0, 0.863);
    padding-top: 10px;
}

.cards h3 {
    font-size: 22px;
    color: rgba(255, 174, 0, 0.863);
    padding-bottom: 5px;
}

.cards button {
    background: transparent;
    border: 1px solid #87888a;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

.cards button:hover {
    background-color: #ff002b;;
}

.cards button > span {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.cards select {
    width: 120px;
    margin-bottom: 10px;
    border: 1px solid #87888a;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding: 2px;
    
}

@media screen and (max-width: 998px) {
    .sidebar {
        width: 72px;
    }

    .sidebar button > a {
        width: 50px;
    }

    /* tirando o texto da tela quando diminuir e só ficar os icones */
    .sidebar button > a > i {
        opacity: 0;
        visibility: hidden; /* esconde da tela */
    }

    main  h1 {
        margin-left: 0;
        text-align: center;
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: rgba(255, 174, 0, 0.863);
    }
    
    .container_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 35px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    .cards {
        background-color: #fff;
        text-align: center;
        border-radius: 10%;
        width: 320px;
        height: 465px;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .cards img {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }
    
    .cards h2 {
        font-size: 16px;
        font-weight: bold;
    }
    
    .cards p {
        width: 300px;
        font-size: 10px;
        font-weight: bold;
        color: #87888a;
    }
    
    .cards h4 {
        width: 350px;
        font-size: 10px;
        font-weight: bold;
        color: rgba(255, 174, 0, 0.863);
        padding-top: 10px;
    }
    
    .cards h3 {
        font-size: 22px;
        color: rgba(255, 174, 0, 0.863);
        padding-bottom: 5px;
    }
    
    .cards button {
        background: transparent;
        border: 1px solid #87888a;
        border-radius: 10px;
        height: 40px;
        width: 200px;
        justify-content: space-between;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
    }
    
    .cards button:hover {
        background-color: #ff002b;;
    }
    
    .cards button > span {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    
    .cards select {
        width: 120px;
        margin-bottom: 10px;
        border: 1px solid #87888a;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 11px;
        padding: 2px;
        
    }
}

.button-mobile {
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #FFF;
    border: 0;
}

.button-mobile a {
    font-size: 24px;
    margin-left: 8px;
    text-decoration: none;
}

.button-close a i {
    font-size: 42px;
}

.menu-mobile {
    display: none;
}

.menu-mobile-active {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 99; /* ficar sobre qualquer coisa da tela */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow: hidden; /* se passar algo da tela, esconde */
    padding: 10px;
}

.menu-mobile-active button {
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.menu-mobile-active button:hover {
    background-color: rgba(255, 174, 0, 0.863);
    width: 180px;
}   

.menu-mobile-active button > a {
    display: flex;
    justify-content: start;
    gap: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.mobile-text {
    font-size: 22px;
    margin-left: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }

    .button-mobile {
        display: flex;
    }

    .main {
        margin-left: 6px;
    }
}